* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Color Classes */
:root {
    --color-c90000: #c90000;
    --color-7D7C7C: #7D7C7C;
    --color-504f4f: #504f4f;
    --color-323232: #323232;
    --color-FFC300: #FFc300;
    --color-FFF6A3: #FFF6A3;
    --color-E3E3E3: #E3E3E3;
    --color-F1F1F1: #F1F1F1;
}

/* Fonts */
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url("../FONTS/Poppins/Poppins-Bold.woff") format("woff");
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: url("../FONTS/Poppins/Poppins-Bold.woff") format("woff");
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url("../FONTS/Poppins/Poppins-Medium.woff") format("woff");
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url("../FONTS/Poppins/Poppins-SemiBold.woff") format("woff");
}

@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url("../FONTS/Poppins/Poppins-Light.woff") format("woff");
}

/* Body */
body {
    font-family: poppins;
}

/* Container */
.container-site {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0.5rem;
}

/* header */
.main-header {
    margin-top: 1rem;
}

/* navigation */
.navigation {
    display: grid;
    grid-template-columns: 54px 635px 187px;
    justify-content: space-between;
    align-items: center;
}

/* Menu items */
.navigation-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}

.navigation-menu li a {
    color: var(--color-7D7C7C);
    font-weight: 500;
}

.navigation-menu li:first-child a {
    color: var(--color-c90000);
    font-weight: 600;
}

/* menu sidebar */
.menu-sidebar {
    overflow-x: hidden;
    flex-direction: column;
    position: fixed;
    left: 0;
    background-color: #fff;
    height: 100%;
    top: 0;
    padding: 1rem;
    width: 190px;
    border-right: 1px solid;
    transition: all 5s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 5s ease-out;
    -ms-transition: all 5s ease-out;
    -o-transition: all 5s ease-out;
    transform: translateX(-221px);
    -webkit-transform: translateX(-221px);
    -moz-transform: translateX(-221px);
    -ms-transform: translateX(-221px);
    -o-transform: translateX(-221px);
}

.menu-sidebar li {
    padding-top: 1rem;
    margin-top: 0.5rem;
    color: #323232;
    transition: 0.5s;

}

.menu-sidebar li a {
    display: block;
    transition: 0.3s;
}

.menu-sidebar li a {
    color: #504f4f;
}

ul li.f-child a {
    color: var(--color-c90000);
}

/* close icon */
.closebtn {
    color: black;
    position: absolute;
    top: 0;
    right: 5px;
    display: none;
}

/* link navigation */
.link-navigation a {
    padding: 9px 16px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 400;
}

.link-navigation a:first-child {
    color: var(--color-c90000);
    border: 1px solid var(--color-c90000);
}

.link-navigation a:last-child {
    color: #fff;
    background-color: var(--color-c90000);
    border: 1px solid var(--color-c90000);
}

/* header bottom */
.header-bottom {
    max-width: 1440;
    height: 687px;
    display: grid;
    grid-template-columns: repeat(2, auto);

}

/* content left header */
.content-left-header {
    margin-top: 167px;
}

.content-left-header h2 {
    width: 343px;
    height: 144px;
    font-size: 48px;
    font-weight: 600;
    color: var(--color-c90000);
}

.content-left-header p {
    margin-top: 12px;
    max-width: 343px;
    height: 54px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-504f4f);
}

/* order food */
.order-food {
    margin-top: 40px;
    max-width: 369px;
    height: 110px;
}

.total-order span:first-child {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-323232);
}

.total-order span:last-child {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-323232);
}

/* action order */
.action-order {
    max-width: 369px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* left button */
.left-button {
    height: 46px;
    padding: 0 5px;
    padding-top: 11px;
    display: grid;
    grid-template-columns: 25px 80px 25px;
    background-color: var(--color-F1F1F1);
    border: none;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.left-button input {
    border: none;
    outline: none;
    background-color: #F1F1F1;
    padding-left: 37px;
    font-size: 20px;
    font-weight: 500;
    color: var(--color-FFC300);
}

.left-button img {
    cursor: pointer;
}


/* right button */
.right-button {
    cursor: pointer;
    width: 179px;
    height: 50px;
    background-color: var(--color-FFC300);
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.right-button img {
    width: 27px;
    height: 27px;
    color: black;
}

/* content right header */
.content-right-header img {
    height: 657px;
}